@use "vars" as *;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $white;
  background: $black;
  font-family: "Outfit", sans-serif;
}

::selection {
  color: $black;
  background: $accent;
}
