<div class="content-container">
    <div class="content">
        <slot />
    </div>
</div>

<style lang="scss">
    .content-container {
        display: grid;
        grid-template-columns: auto 840px auto;
        min-height: 100vh;
        place-items: center;
    }

    .content {
        grid-column: 2;
    }
</style>
