---
import { getCollection as get_collection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import BlogPost from "@components/BlogPost.astro";
import { getEntry as get_entry } from "astro:content";
import UserAboutHeader from "@components/UserAboutHeader.astro";

const current_date = new Date();
const birth_date = new Date("2007-03-01");
const age = current_date.getFullYear() - birth_date.getFullYear();

const blog_posts = (await get_collection("blog"))
    .sort((a, b) => b.data.published.getTime() - a.data.published.getTime())
    .slice(0, 6);

const me = await get_entry("authors", "morganlabs");
const { kicker, social_media } = me.data;
---

<Layout
    active_route="/"
    metadata={{
        title: "Home",
        description: "Welcome to morganlabs!",
    }}
>
    <UserAboutHeader
        username={me.slug}
        name="Hiya! I'm Morgan."
        {kicker}
        {social_media}
        no_user_info
    />
    <hr />
    <h2>Recent Blog Posts</h2>
    <p>
        A list of my most recent blog posts. <a href="/blog/page/1"
            >Read more!</a
        >
    </p>
    <div class="blog-posts">
        {blog_posts.map((p) => <BlogPost post={p} />)}
    </div>
</Layout>

<style lang="scss">
    .social-links {
        :global(*) {
            justify-content: center;
        }
    }

    .blog-posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    @media (max-width: 574px) {
        .blog-posts {
            grid-template-columns: 1fr;
        }
    }
</style>
