---
import Layout from "@layouts/Layout.astro";
import Separator from "@components/Separator.astro";
import ThumbsUp from "@assets/memoji/thumbs_up.png";
import { Image } from "astro:assets";
import HorizontalLinks from "@components/HorizontalLinks.astro";

const current_date = new Date();
const birth_date = new Date("2007-03-01");
const age = current_date.getFullYear() - birth_date.getFullYear();
---

<Layout
    active_route="/"
    metadata={{
        title: "Home",
        description: "Welcome to morganlabs!",
    }}
>
    <Image src={ThumbsUp} alt="Memoji showing a thumbs up hand." width={128} />
    <h1>Hiya! I'm Morgan.</h1>
    <p>I am a {age} year old designer and developer living in Wales.</p>
    <div class="social-links">
        <HorizontalLinks
            links={[
                { title: "GitHub", href: "/s/github" },
                { title: "Ko-Fi", href: "/support" },
                { title: "Mastodon", href: "/s/mastodon" },
                { title: "X", href: "/s/formerlytwitter" },
            ]}
        />
    </div>
    <Separator />
</Layout>

<style lang="scss">
    .social-links {
        :global(*) {
            justify-content: center;
        }
    }
</style>
