---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Under Construction">
    <h1>:under construction...</h1>
    <p>From branding to backend, I want to make sure everything is perfect. That's what I do.</p>
    <p>Why not keep in touch?</p>
</BaseLayout>
