$black: #1c1225;
$white: #f0d9f3;
$accent: #8f54be;

$heading-font: "IBM Plex Mono", monospace;
$heading-font-weight: 800;
$heading-line-height: 1.5em;

$body-font: "IBM Plex Mono", monospace;
$body-font-weight: 400;
$body-line-height: 1.5em;
