@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $black;
    color: $white;
}

h1 {
    font-family: $heading-font;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    font-size: 3rem;
}

h2 {
    font-family: $heading-font;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    font-size: 2rem;
}

h3 {
    font-family: $heading-font;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    font-size: 1.75rem;
}

h4 {
    font-family: $heading-font;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    font-size: 1.5rem;
}

h5 {
    font-family: $heading-font;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    font-size: 1.125rem;
}

h6 {
    font-family: $heading-font;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    font-size: 1.125rem;
}

p,
a,
span {
    font-family: $body-font;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    font-size: 1rem;
}

p {
    margin-bottom: 1em;
}

a {
    color: lighten($accent, 10%);
    transition: color 0.1s ease-in-out;

    &:hover {
        color: lighten($accent, 20%);
    }
}

blockquote {
    padding-left: 1rem;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 2px;
        height: calc(100% + 0.5rem);
        background-color: $white;
        opacity: 0.25;
        position: absolute;
        left: 0;
        top: -0.25rem;
    }
}

@media (max-width: 574px) {
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    p,
    a,
    span {
        font-size: 1rem;
    }
}
