---
export type Item = {
    title: string;
    href?: string;
    custom_class?: string[];
};

type Props = {
    items: Item[];
};

let { items: links } = Astro.props;
links = links.map((link) => ({
    ...link,
    custom_class: link.custom_class ?? [],
}));
---

<ul class="links">
    {
        links.map(({ title, href, custom_class }) => (
            <>
                <li class:list={["link-container", ...custom_class!]}>
                    {() => {
                        if (href) {
                            return (
                                <a class="link" {href}>
                                    {title}
                                </a>
                            );
                        }
                        return <span class="link">{title}</span>;
                    }}
                </li>
            </>
        ))
    }
</ul>

<style lang="scss">
    .links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        column-gap: 1.5rem;
        row-gap: 1rem;
        overflow-x: auto;
    }

    .link {
        color: $white;
    }

    .seperator {
        $size: 4px;
        display: block;
        background-color: $white;
        width: $size;
        height: $size;
        border-radius: 9999px;
    }
</style>
