<div class="separator"></div>

<style lang="scss">
    .separator {
        background-color: rgba($white, 0.25);
        width: 80%;
        height: 2px;
        margin-inline: auto;
        margin-block: 1rem;
    }
</style>
